<div *ngIf="commonLayout">
  <app-common-layout></app-common-layout>
</div>
<div *ngIf="customerLayout">
  <app-customer-layout></app-customer-layout>
</div>
<div class="container">
  <div class="jumbotron" style="text-align:center; margin-top:0px;">
    <h2>PackXPrez for you!!</h2>
    <p style="font-family:'Angsana New'; font-size:26px;">
      Welcome to PackXPrez! Log in to a world of smart logistics services!
    </p>
    <img class="img-responsive" src="src/app/packXPrez-images/light3.jpg" style="height:350px;width:1000px;display:block;margin:0px auto;" />
  </div>
</div>
